<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582003499202-vmqkpjq8dt7dpdqn2utce698es9dtjct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582003499202-vmqkpjq8dt7dpdqn2utce698es9dtjct</string>
	<key>API_KEY</key>
	<string>AIzaSyBtHRcI-5k5LP4BUYifzM8fnSKW5oYKqZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>582003499202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.imageSliderWebview</string>
	<key>PROJECT_ID</key>
	<string>tirynski-d9a08</string>
	<key>STORAGE_BUCKET</key>
	<string>tirynski-d9a08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582003499202:ios:5b5accb301f5d2463edb5b</string>
</dict>
</plist>